{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Z-Store</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
  </head>

  <body>
    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img src="{% static 'images/Custom Logo/p2.png' %}" alt="logo">
                </div>
                <h4>Welcome {{user.username}}</h4>
                <h6 class="font-weight-light text-success">We Request You to Change the Password</h6>
                {% if warning %}
                <!-- Alert Box -->
                <div class="alert alert-danger" id="success-alert">
                  Sorry we are unable to authenticate your Account !
                </div>
                <!-- End -->
                {% endif %}
                <form class="pt-3" action="{% url 'regTester' %}" method="post" id="regForm">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="password" name="password"
                      placeholder="New Password">
                    <div class="" id="newPasswordError"></div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control form-control-lg" id="cpassword"
                      placeholder="Confirm Password">
                    <div class="" id="ConfirmPasswordError"></div>
                  </div>
                  <div class="mt-3">
                    <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                      value="Submit">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom Injection -->
    <script src="../../static/js/purpose build/form_Variables.js"></script>
    <script src="../../static/js/purpose build/form_Functions.js"></script>
    <!-- End Custom Injection -->
    <script>
        document.addEventListener("DOMContentLoaded", function(){
            newPasswordInput.addEventListener('input', validatePassword);
            confirmPasswordInput.addEventListener('input', validateConfirmPassword);
      });
      document.getElementById('regForm').addEventListener('submit', handleEventSubmit);
      function handleEventSubmit(event){
        event.preventDefault();
        var b1 = validatePassword();
        var b2 = validateConfirmPassword();
        if (b1 && b2){
            regForm.submit();
        }
      }

    </script>
    <script>
      $(document).ready(function () {
        // Check if the alert element exists
        var successAlert = $("#success-alert");

        if (successAlert.length) {
          // Hide the alert initially
          successAlert.hide();

          // Show the alert and then hide it after a delay
          successAlert.fadeTo(800, 500).slideUp(500, function () {
            successAlert.slideUp(500);
          });
        }
      });
    </script>
    <!-- End of Custom Injection -->
  </body>

</html>