{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Skydash Admin</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
    </head>

    <body class="sidebar-dark">
        <div class="container-scroller">
            <!-- partial:{% static 'partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-warning">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="{% url 'testerPanel' %}"><img
                            src="{% static 'images/Custom Logo/p2.png' %}" class="mr-2" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="{% url 'testerPanel' %}"><img
                            src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                    <span class="input-group-text" id="search">
                                        <i class="icon-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="navbar-search-input"
                                    placeholder="Search now" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                                data-toggle="dropdown">
                                <i class="icon-bell mx-0"></i>
                                <span class="count"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="ti-info-alt mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-warning">
                                            <i class="ti-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Private message
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="ti-user mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-profile dropdown">
                            <h5>{{data.tester.fullname}}</h5>
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                {% if data.tester.profileImage %}
                                <img src="{{data.tester.profileImage.url}}" alt="profile" />
                                {% else %}
                                <img src="{% static 'images/faces/avatar.jpeg' %}" alt="profile" />
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="{% url 'settings' %}">
                                    <i class="ti-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item">
                                    <i class="ti-settings text-primary"></i>
                                    Index Page
                                </a>
                                <a class="dropdown-item" href="{% url 'userLogout' %}">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:{% static 'partials/_settings-panel.html -->
                <!-- partial -->
                <!-- partial:{% static 'partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'testerPanel' %}">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Panel View</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-lg-12 stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">User Product Table</h4>
                                        <p class="card-description">
                                            User Products<code>Pending For Approval</code>
                                        </p>
                                        <div class="table-responsive pt-3">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            User Email
                                                        </th>
                                                        <th>
                                                            Category
                                                        </th>
                                                        <th>
                                                            Product
                                                        </th>
                                                        <!-- <th>
                                                            Rating
                                                        </th> -->
                                                        <th>
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <input type="hidden" id="testerID" value="{{testerData}}">
                                                    {% if uprod %}
                                                    {% for u in uprod %}
                                                    <tr class="table-warning">
                                                        <input type="hidden" id="pid" value="{{u.id}}">
                                                        <td>{{u.ownerId_id}}</td>
                                                        <td>{{u.mainCategory.name}} > {{u.category.name}}
                                                            {% if u.subCategory.name %}
                                                            > {{u.subCategory.name}}
                                                            {% endif %}
                                                        </td>
                                                        <td>{{u.name}}</td>
                                                        <td>
                                                            <button class="btn btn-sm btn-info" data-toggle="collapse"
                                                                data-target="#collapse{{ u.id }}">Toggle</button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <form action="{% url 'approveProduct' u.id %}" method="post"
                                                            enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            <td colspan="5" class="collapse" id="collapse{{ u.id }}"
                                                                align="center">
                                                                <table class="table">
                                                                    <tr>
                                                                        <th>Product ID</th>
                                                                        <td>P{{u.id}}</td>
                                                                        <th>Product Name</th>
                                                                        <td>{{u.name}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Product Category</th>
                                                                        <td>{{u.mainCategory.name}} >
                                                                            {{u.category.name}}
                                                                            {% if u.subCategory.name %}
                                                                            > {{u.subCategory.name}}
                                                                            {% endif %}
                                                                        </td>
                                                                        <th>Product Location</th>
                                                                        <td> <strong>Address:</strong>
                                                                            {{u.productLoca.address}} <br>
                                                                            <strong>Street:</strong>
                                                                            {{u.productLoca.street}} <br>
                                                                            <strong>City:</strong>{{u.productLoca.city}}
                                                                            <br>
                                                                            <strong>State:</strong>{{u.productLoca.state}}
                                                                            <br>
                                                                            <strong>Country:</strong>{{u.productLoca.country}}
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Product Price</th>
                                                                        <td>{{u.price}}</td>
                                                                        <td>
                                                                            <select name="priceSel{{u.id}}" id="" class="form-control">
                                                                                <option value="">Select</option>
                                                                                <option value="0">Approve</option>
                                                                                <option value="1">Update</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="price{{u.id}}"
                                                                                id="" class="form-control"
                                                                                placeholder="Update if Any">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Product Description</th>
                                                                        <td>{{u.description}}</td>
                                                                        <td>
                                                                            <select name="descSel{{u.id}}" id="" class="form-control">
                                                                                <option value="">Select</option>
                                                                                <option value="0">Verified</option>
                                                                                <option value="1">Update</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="desc{{u.id}}" id=""
                                                                                class="form-control"
                                                                                placeholder="Update if Any">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Accident Remarks</th>
                                                                        <td>
                                                                            {{u.Acc_remarks}}
                                                                        </td>
                                                                        <td>
                                                                            <select name="accSel{{u.id}}" id="" class="form-control">
                                                                                <option value="">Select</option>
                                                                                <option value="0">Verified</option>
                                                                                <option value="1">Update</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="text" name="acc{{u.id}}" id=""
                                                                                class="form-control"
                                                                                placeholder="Update if Any">
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Year of Manufacture</th>
                                                                        <td>{{u.yearOfMan}}</td>
                                                                        <td>
                                                                            <select name="man{{u.id}}" id="" class="form-control">
                                                                                <option value="">Select</option>
                                                                                <option value="0">Verified</option>
                                                                                <option value="1">Update</option>
                                                                            </select>
                                                                        </td>
                                                                        <td>
                                                                            <input type="date" id="datePicker" name="datePicker{{u.id}}" class="form-control">

                                                                            <script>
                                                                                // Get today's date in the format "YYYY-MM-DD"
                                                                                var today = new Date().toISOString().split('T')[0];

                                                                                // Set the min attribute to today's date
                                                                                document.getElementById('datePicker').max = today;
                                                                            </script>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Product Images</th>
                                                                        <td>
                                                                            {% for image in u.productimages_set.all %}
                                                                            <img src="{{image.images.url}}" alt=""
                                                                                style="width: 100px; height: 100px;">
                                                                            {% endfor %}
                                                                        </td>
                                                                        <th>Product Images By Tester</th>
                                                                        <td>
                                                                            <input type="file" name="productImg{{u.id}}"
                                                                                id="" class="form-control" multiple>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4">
                                                                            <select name="rating{{u.id}}" id=""
                                                                                class="form-control md-1" required>
                                                                                <option value="">Select the Rating
                                                                                </option>
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="4" align="center"><button
                                                                                type="submit"
                                                                                class="btn btn-inverse-dark">Submit</button>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </form>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                    <tr class="table-warning">
                                                        <td colspan="4" align="center">No Products to Validate</td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-12 stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">User Product Table</h4>
                                        <p class="card-description">
                                            User Products<code>Approved By You</code>
                                        </p>
                                        <div class="table-responsive pt-3">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            #
                                                        </th>
                                                        <th>
                                                            User
                                                        </th>
                                                        <th>
                                                            Product
                                                        </th>
                                                        <!-- <th>
                                                            Rating
                                                        </th> -->
                                                        <!-- <th>
                                                            Approved On
                                                        </th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if prod %}
                                                    {% for v in prod %}
                                                    <tr class="table-success">
                                                        <td>{{v.id}}</td>
                                                        <td>{{v.ownerId.username}}</td>
                                                        <td>{{v.name}}</td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                    <tr class="table-warning">
                                                        <td colspan="4" align="center">No Products Validated by You</td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:{% static 'partials/_footer.html -->
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- Imp validation -->
        <script>
            document.getElementById('appBtn').addEventListener('click', function () {
                // if (document.getElementById('rateBox').value.trim().length === 0){
                //     document.getElementById('selectError').textContent = 'Please Select the Rating';
                // }else{
                //     console.log('True');
                //     const pid = document.getElementById('pid').value;
                //     document.getElementById('appBtn').href = ``;
                // }
            });

            $('.btn-info').click(function () {
                // Toggle the text of the button when it's clicked
                $(this).text(function (i, text) {
                    return text === "Toggle" ? "Collapse" : "Toggle";
                });
            });
        </script>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
        <script src="{% static 'js/todolist.js' %}"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <!-- End custom js for this page-->
    </body>

</html>