{% extends "../../base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Delivery Hub</h4>
                    <form class="form-sample" action="{% url 'addDeliveryUnit' %}" method="post">
                        {% csrf_token %}
                        <p class="card-description">
                            Hub Location
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Country</label>
                                    <div class="col-sm-9">
                                        <select name="" id="countrySelect" class="form-control" onchange="loadStates()">
                                            <option value="" selected disabled>Select Your Country
                                            </option>
                                        </select>
                                        <input type="hidden" name="country" id="selectedCountryText"
                                            value="{{userloca.country}}">
                                        <div id="countryError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">State</label>
                                    <div class="col-sm-9">
                                        <select name="" id="stateSelect" class="form-control" onchange="loadCities()">
                                            <option value="" selected disabled>Select Your State
                                            </option>
                                        </select>
                                        <input type="hidden" name="state" id="selectedStateText"
                                            value="{{userloca.state}}">
                                        <div id="stateError" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">City</label>
                                    <div class="col-sm-9">
                                        <select name="" id="citySelect" class="form-control">
                                            <option value="" selected disabled>Select Your City
                                            </option>
                                        </select>
                                        <input type="hidden" name="city" id="selectedCityText"
                                            value="{{userloca.city}}">
                                        <div id="cityError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <!-- <label class="col-sm-3 col-form-label">Get Map Location</label> -->
                                    <button type="button"
                                        class="btn btn-sm btn-inverse-primary col-sm-3 col-form-label mr-1"
                                        data-toggle="modal" data-target=".bd-example-modal-lg"
                                        onclick="clickEvent()">Get Map Location</button>
                                    <input type="text" class="form-control-sm" id="hidlat" disabled
                                        placeholder="Latitude">
                                    <input type="text" class="form-control-sm" id="hidlng" disabled
                                        placeholder="Longitude">

                                    <input type="hidden" name="lat" id="hidlat1">
                                    <input type="hidden" name="lng" id="hidlng1">
                                    <!-- Large modal -->

                                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Leaflet Map</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row p-2">
                                                        <div class="col-md-12 modal_body_content">
                                                            Welcome To Map
                                                        </div>
                                                    </div>
                                                    <div class="row p-2">
                                                        <div class="col-md-12 modal_body_map">
                                                            <div id="map" style="width: 100%; height: 400px;"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row p-2">
                                                        <div class="col-md-12 modal_body_end">
                                                            <p class="text text-danger font-weight-bold"
                                                                id="displaylatlng"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Done</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Add Delivery Unit" class="btn btn-sm btn-inverse-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Available Delivery Hub</h4>
                    <p class="card-description">
                        List Of <code>Delivery Hub</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>unit ID</th>
                                    <th>Authorer Name</th>
                                    <th>Authorer Email</th>
                                    <th>Unit Location</th>
                                    <th>Unit Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if deliveryhublist %}
                                {% for hub in deliveryhublist %}
                                <tr>
                                    <td>{{hub.id}}</td>
                                    {% if hub.authoriser %}
                                    <td>{{hub.authoriser.user_auth.first_name}} {{hub.authoriser.user_auth.last_name}}</td>
                                    <td>{{hub.authoriser.user_auth.email}}</td>
                                    {% else %}
                                    <td><label class="badge badge-danger">Not Yet Assigned</label></td>
                                    <td><label class="badge badge-danger">Not Yet Assigned</label></td>
                                    {% endif %}
                                    <td>{{hub.unit_location.country}}, {{hub.unit_location.state}}, {{hub.unit_location.city}}</td>
                                    {% if hub.is_working %}
                                    <td><label class="badge badge-success">Working</label></td>
                                    {% else %}
                                    <td><label class="badge badge-danger">Not Working</label></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="5" align="center"><h4>No Delivery Hub Available</h4></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}