{% extends "../../base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Delivery Hub Autheror</h4>
                    <form class="form-sample" action="{% url 'addAutheror' %}" method="post">
                        {% csrf_token %}
                        <p class="card-description">
                            Autheror Data
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Country</label>
                                    <div class="col-sm-9">
                                        <select name="" id="countrySelect" class="form-control" onchange="loadStates()">
                                            <option value="" selected disabled>Select Your Country
                                            </option>
                                        </select>
                                        <input type="hidden" name="country" id="selectedCountryText"
                                            value="{{userloca.country}}">
                                        <div id="countryError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">State</label>
                                    <div class="col-sm-9">
                                        <select name="" id="stateSelect" class="form-control" onchange="loadCities()">
                                            <option value="" selected disabled>Select Your State
                                            </option>
                                        </select>
                                        <input type="hidden" name="state" id="selectedStateText"
                                            value="{{userloca.state}}">
                                        <div id="stateError" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">City</label>
                                    <div class="col-sm-9">
                                        <select name="" id="citySelect" class="form-control">
                                            <option value="" selected disabled>Select Your City
                                            </option>
                                        </select>
                                        <input type="hidden" name="city" id="selectedCityText"
                                            value="{{userloca.city}}">
                                        <div id="cityError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <!-- <label class="col-sm-3 col-form-label">Get Map Location</label> -->
                                    <button type="button"
                                        class="btn btn-sm btn-inverse-primary col-sm-3 col-form-label mr-1"
                                        data-toggle="modal" data-target=".bd-example-modal-lg"
                                        onclick="clickEvent()">Get Map Location</button>
                                    <input type="text" class="form-control-sm" id="hidlat" disabled
                                        placeholder="Latitude">
                                    <input type="text" class="form-control-sm" id="hidlng" disabled
                                        placeholder="Longitude">

                                    <input type="hidden" name="lat" id="hidlat1">
                                    <input type="hidden" name="lng" id="hidlng1">
                                    <!-- Large modal -->

                                    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">Leaflet Map</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row p-2">
                                                        <div class="col-md-12 modal_body_content">
                                                            Welcome To Map
                                                        </div>
                                                    </div>
                                                    <div class="row p-2">
                                                        <div class="col-md-12 modal_body_map">
                                                            <div id="map" style="width: 100%; height: 400px;"></div>
                                                        </div>
                                                    </div>
                                                    <div class="row p-2">
                                                        <div class="col-md-12 modal_body_end">
                                                            <p class="text text-danger font-weight-bold"
                                                                id="displaylatlng"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Done</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="firstname" id="firstnameinput" class="form-control"
                                            placeholder="First Name" required oninput="validatefname()">
                                        <div id="fnameErr"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lastname" id="lastnameinput" class="form-control"
                                            placeholder="Last Name" required oninput="validatelname()">
                                        <div id="lnameErr"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="email" id="inputEmail" class="form-control"
                                            placeholder="Email" required oninput="validateEmail()">
                                        <div id="emailError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Salary</label>
                                    <div class="col-sm-9">
                                        <input type="number" name="salary" id="inputsalary" class="form-control"
                                            placeholder="Salary" required>
                                        <div id="salaryError"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="submit" value="Assign Delivery Unit" class="btn btn-sm btn-inverse-danger">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Delivery Boys</h4>
                    <div class="table-responsive pt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Full Name
                                    </th>
                                    <th>
                                        Delivery Boy Status
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                    <th>
                                        Registered In
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if authorisers %}
                                {% for auth in authorisers %}
                                <tr class="table-info">
                                    <td>
                                        {{forloop.counter}}
                                    </td>
                                    <td>
                                        {{auth.user_auth.first_name}} {{auth.user_auth.last_name}}
                                    </td>
                                    <td>
                                        {% if auth.is_approved %}
                                        <label class="badge badge-success">Delivery Boy is Active</label>
                                        {% else %}
                                        <label class="badge badge-danger">Delivery Boy is In-Active</label>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span id="pamount" style="font-weight: bolder;">{{auth.salary}}</span>
                                    </td>
                                    <td>
                                        <span>{{ auth.user_auth.date_joined }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="5" align="center"><h4 class="card-title">No Authorers Available</h4></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const pamount = document.querySelectorAll('#pamount');
        pamount.forEach((i) => {
            i.textContent = formatMoney(i.textContent);
        });
    });

    function formatMoney(amount) {
        var formattedIncome = new Intl.NumberFormat('en-IN', {
            style: 'currency',
            currency: 'INR' // You can change the currency code as needed
        }).format(Number(amount));
        return formattedIncome;
    }
</script>
{% endblock %}