{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Z-Store</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{% static 'images/Custom Logo/p2.png' %}" alt="logo">
              </div>
              <h4>Lil Bit?</h4>
              <h6 class="font-weight-light">A Bit few more step's</h6>
              <form class="pt-3" action="{% url 'signup2' %}" method="post" id="regForm2">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control form-control-lg" id="countrySelect" onchange="loadStates()">
                        <option value="" selected disabled>Please Select your country</option>
                    </select>
                    <input type="hidden" name="selectedCountry" id="selectedCountryText">
                    <div class="" id="countryError"></div>
                </div>
                <div class="form-group">
                    <select class="form-control form-control-lg" id="stateSelect" onchange="loadCities()">
                        <option value="" selected disabled>Please Select your State</option>
                    </select>
                    <input type="hidden" name="selectedState" id="selectedStateText">
                    <div class="" id="stateError"></div>
                </div>
                <div class="form-group">
                    <select class="form-control form-control-lg" id="citySelect">
                        <option value="" selected disabled>Please Select your City</option>
                    </select>
                    <input type="hidden" name="selectedCity" id="selectedCityText">
                    <div class="" id="cityError"></div>
                </div>
                <div class="form-group">
                  <input type="number" class="form-control form-control-lg" name="pincode" id="exampleInputPassword2" placeholder="Pin Code (Not Mandatory)">
                </div>
                <div class="mt-3">
                  <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="NEXT">
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                  </div>
                  <a href="{% url 'regOtp' %}" class="auth-link text-black text-primary">Skip the Process</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js' %}"></script>
  <script src="{% static 'js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'js/template.js' %}"></script>
  <script src="{% static 'js/settings.js' %}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom Inject -->
  <script src="{% static 'js/purpose build/CSC_API.js' %}"></script>
  <!-- End of Inject -->
  <!-- Custom Inject -->
  <script src="{% static 'js/purpose build/form_Variables.js' %}"></script>
  <script src="{% static 'js/purpose build/form_Functions.js' %}"></script>
  <script src="{% static 'js//purpose build/form_Caller1.js' %}"></script>
  <!-- End Inject -->
</body>

</html>
