<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Map</title>
        <style>
            #map {
                display: flex;
                width: 100vw;
                height: 75vh;
            }
        </style>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />
    </head>

    <body>
        <div id="map"></div>
        <p>Current Location : <span id="locationText"></span></p>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
        <script>
            const locationText = document.getElementById("locationText");
            var start_marker=false;
            var end_marker=false;
            var start, end;
            var markers = []

            var map = L.map('map').setView([51.505, -0.09], 13);

            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            // Map Click Event
            map.on("click", (e)=> {
                if (start_marker) {
                    end_marker = L.marker(e.latlng).addTo(map);
                    end = e.latlng;
                    findRoute(start, end);
                }else{
                    start_marker = L.marker(e.latlng).addTo(map);
                    start = e.latlng;
                }
            })

            function findRoute(start, end) {
                console.log(`Start Point ${start.lat}, ${start.lng}`);
                console.log(`End Point ${end.lat}, ${end.lng}`);
                L.Routing.control({
                waypoints: [
                    L.latLng(start.lat, start.lng),
                    L.latLng(end.lat, end.lng)
                ],
                routeWhileDragging: true
                }).on('routesfound', (e) => {
                    console.log(e);
                    
                    console.log(typeof(e.routes[0].summary.totalTime));
                    e.routes[0].coordinates.forEach(function (coord, index) {
                        setTimeout(() => {
                            start_marker.setLatLng([coord.lat, coord.lng]);
                            
                        }, 1000*index);
                    });
                })
                .addTo(map);
            }
        </script>
    </body>

</html>