{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Z Store</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
        <!-- endinject -->
        <!-- Custom CSS Inject -->
        <link rel="stylesheet" href="{% static 'css/custom css/radioSwitch.css' %}">
        <!-- End Inject -->
        <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
    </head>

    <body class="sidebar-dark">
        <div class="container-scroller">
            <!-- partial:{% static 'partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-dark">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}"><img
                            src="{% static 'images/Custom Logo/p2.png' %}" class="mr-2" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img
                            src="{% static 'images/logo-mini.svg' %}" alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="icon-menu"></span>
                    </button>
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                    <span class="input-group-text" id="search">
                                        <i class="icon-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="navbar-search-input"
                                    placeholder="Search now" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                                data-toggle="dropdown">
                                <i class="icon-bell mx-0"></i>
                                <span class="count"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                aria-labelledby="notificationDropdown">
                                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-success">
                                            <i class="ti-info-alt mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Just now
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-warning">
                                            <i class="ti-settings mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">Settings</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            Private message
                                        </p>
                                    </div>
                                </a>
                                <a class="dropdown-item preview-item">
                                    <div class="preview-thumbnail">
                                        <div class="preview-icon bg-info">
                                            <i class="ti-user mx-0"></i>
                                        </div>
                                    </div>
                                    <div class="preview-item-content">
                                        <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                        <p class="font-weight-light small-text mb-0 text-muted">
                                            2 days ago
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <h4 style="display: inline-block; font-weight: 900; justify-content: center;"
                                    class="mr-2">{{userdata.fullname}}</h4>
                                {% if userdata.profileImage %}
                                <img src="{{userdata.profileImage.url}}" alt="profile" />
                                {% else %}
                                <img src="{% static 'images/faces/avatar.jpeg' %}" alt="profile" />
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="profileDropdown">
                                <a class="dropdown-item" href="{% url 'settings' %}">
                                    <i class="ti-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="{% url 'userLogout' %}">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                        data-toggle="offcanvas">
                        <span class="icon-menu"></span>
                    </button>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:{% static 'partials/_settings-panel.html -->
                <!-- partial -->
                <!-- partial:{% static 'partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'adminPy' %}">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Admin Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false"
                                aria-controls="ui-basic">
                                <i class="icon-head menu-icon"></i>
                                <span class="menu-title">Authority</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="{% url 'addTester' %}">Add
                                            Tester</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="#">Add Admin</a></li>
                                    <li class="nav-item"> <a class="nav-link" href="#">Manage T & A</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
                                aria-controls="form-elements">
                                <i class="mdi mdi-cart-outline menu-icon"></i>
                                <span class="menu-title">Products</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="form-elements">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"><a class="nav-link" href="">Add Category</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#"><del>Review Products</del></a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="#"><del>Manage</del></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false"
                                aria-controls="charts">
                                <i class="icon-bar-graph menu-icon"></i>
                                <span class="menu-title">Statistics</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="collapse" id="charts">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="#"><del>Sales Data</del></a></li>
                                    <li class="nav-item"> <a class="nav-link" href="#"><del>Commission Data</del></a>
                                    </li>
                                    <li class="nav-item"> <a class="nav-link" href="#"><del>User Activity</del></a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% static 'pages/documentation/documentation.html '%}">
                                <i class="icon-paper menu-icon"></i>
                                <span class="menu-title"><del>Documentation</del></span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-md-6 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Category</h4>
                                        <p class="card-description">
                                            Section To Add Product Category
                                        </p>
                                        <form class="forms-sample" action="{% url 'addCategory' %}" method="post"
                                            id="catForm">
                                            {% csrf_token %}
                                            {% if mainCat %}
                                            <div class="form-group mb-1">
                                                <div class="switch-field mb-0">
                                                    <input type="radio" id="radio-one" name="switch-one" value="mc"
                                                        checked />
                                                    <label for="radio-one">Main Category</label>
                                                    <input type="radio" id="radio-two" name="switch-one" value="c" />
                                                    <label for="radio-two">Category</label>
                                                    {% if cats %}
                                                    <input type="radio" id="radio-three" name="switch-one" value="sc" />
                                                    <label for="radio-three">Sub Category</label>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% endif %}
                                            <div class="form-group" id="mainCategorySelectDiv" style="display: none;">
                                                <label for="username">Select the Main Category</label>
                                                <select class="form-control" name="mcatid" id="categorySelect"
                                                    onchange="loadSubCategory()">
                                                </select>
                                                <div id="categorySelectError"></div>
                                            </div>
                                            <div class="form-group" id="categorySelectDiv" style="display: none;">
                                                <label for="username">Select the Category</label>
                                                <select class="form-control" name="catid" id="scategorySelect">
                                                    <option value='' selected disabled>Select Your Category</option>
                                                </select>
                                                <div id="scategorySelectError" class=""></div>
                                            </div>
                                            <div class="form-group">
                                                <label for="username" id="ctlabel">Main Category</label>
                                                <input type="text" class="form-control" id="category" name="mainCat"
                                                    placeholder="Main Category">
                                                <div id="categoryError" class=""></div>
                                            </div>
                                            <button type="submit" class="btn btn-inverse-success mr-2">Add
                                                Category</button>
                                            <button type="reset" class="btn btn-light">Clear</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Category Table</h4>
                                        <p class="card-description">
                                            Category List
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>ID</th>
                                                        <th>Created</th>
                                                        <th>Categories Count</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if mainCat %}
                                                    {% for cat in mainCat %}
                                                    <tr>
                                                        <td>{{cat.name}}</td>
                                                        <td>M-CAT{{cat.id}}</td>
                                                        <td>{{cat.created_at}}</td>
                                                        <td>{{cat.count}}</td>
                                                        <td>
                                                            {% if cat.count > 0 %}
                                                            <button class="btn btn-info btn-sm accordion-button"
                                                                onclick="toggleAccordion('subCat{{cat.id}}')">View
                                                                Sub</button>
                                                            {% else %}
                                                            <a href="{% url 'removeCat' %}?id={{cat.id}}"
                                                                class="btn btn-sm btn-inverse-danger">Remove</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr id="subCat{{cat.id}}" class="accordion-content"
                                                        style="display: none;">
                                                        <td colspan="5" style="background-color: #5d646c;">
                                                            <table class="table table-dark">
                                                                <thead>
                                                                    <th>Category ID</th>
                                                                    <th>Name</th>
                                                                    <th>Created At</th>
                                                                    <th>Count</th>
                                                                    <th>Action</th>
                                                                </thead>
                                                                <tbody>
                                                                    {% for dog in cat.category_set.all %}
                                                                    <tr>
                                                                        <td>S-CAT{{dog.id}}</td>
                                                                        <td>{{dog.name}}</td>
                                                                        <td>{{dog.created_at}}</td>
                                                                        <td>{{dog.count}}</td>
                                                                        <td>
                                                                            {% if dog.count > 0 %}
                                                                            <button
                                                                                class="btn btn-info btn-sm accordion-button"
                                                                                onclick="toggleAccordion('subSubCat{{dog.id}}')">Toggle
                                                                                Sub</button>
                                                                            {% else %}
                                                                            <a href="{% url 'removeCat' %}?id={{dog.id}}"
                                                                                class="btn btn-sm btn-inverse-danger">Remove</a>
                                                                            {% endif %}
                                                                        </td>
                                                                    </tr>
                                                                    <tr id="subSubCat{{dog.id}}"
                                                                        class="accordion-content"
                                                                        style="display: none;">
                                                                        <td colspan="5" style="background-color: #333;">
                                                                            <table class="table">
                                                                                <thead style="color: aliceblue;">
                                                                                    <tr>
                                                                                        <th>Sub ID</th>
                                                                                        <th>Name</th>
                                                                                        <th>Created At</th>
                                                                                        <th>Products Listed</th>
                                                                                        <th>Action</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    {% if scat %}
                                                                                    {% for s in scat %}
                                                                                    {% if s.categoryId_id == dog.id %}
                                                                                    <tr style="color: aliceblue;">
                                                                                        <td>{{s.id}}</td>
                                                                                        <td>{{s.name}}</td>
                                                                                        <td>{{s.created_at}}</td>
                                                                                        <td>0</td>
                                                                                        <td>
                                                                                            <a href="{% url 'removeCat' %}?id={{s.id}}"
                                                                                                class="btn btn-sm btn-inverse-danger">Remove</a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    {% endif %}
                                                                                    {% endfor %}
                                                                                    {% endif %}
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:{% static 'partials/_footer.html -->
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <script>
            function toggleAccordion(sectionId) {
                var content = document.getElementById(sectionId);

                if (content.style.display === 'none' || content.style.display === '') {
                    content.style.display = 'table-row';
                    document.getElementById('btn1').textContent = "Collapse";
                } else {
                    content.style.display = 'none';
                    document.getElementById('btn1').textContent = "View Sub";
                }

                // Check for sub-subcategories and hide them
                var subSubCategories = content.getElementsByClassName('accordion-content');
                for (var i = 0; i < subSubCategories.length; i++) {
                    subSubCategories[i].style.display = 'none';
                }
            }
        </script>
        <!-- plugins:js -->
        <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
        <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
        <script src="{% static 'js/todolist.js' %}"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="{% static 'js/file-upload.js' %}"></script>
        <script src="{% static 'js/typeahead.js' %}"></script>
        <script src="{% static 'js/select2.js' %}"></script>
        <!-- End custom js for this page-->
        <!-- Custom JS Plugin -->
        <!-- <script src="{% static 'js/purpose build/form_Variables.js' %}"></script> -->
        <script src="{% static 'js/Purpose Build For Cat & Pro/validateAddCat.js' %}"></script>
        <script src="{% static 'js/Purpose Build For Cat & Pro/loadVariables.js' %}"></script>
        <script src="{% static 'js/Purpose Build For Cat & Pro/loadCategory.js' %}"></script>
        <!-- End -->
    </body>

</html>