{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Z Store</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.9.55/css/materialdesignicons.min.css">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <link rel="stylesheet" href="{% static 'vendors/select2/select2.min.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
        <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
            rel="stylesheet">
    </head>

    <body>
        <div class="container-scroller">
            <!-- partial:{% static 'partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo mr-5" href="{% url 'index' %}"><img
                            src="{% static 'images/Custom Logo/p2.png' %}" class="mr-2" alt="logo" /></a>
                    <a class="navbar-brand brand-logo-mini" href=""><img src="{% static 'images/logo-mini.svg' %}"
                            alt="logo" /></a>
                </div>
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                    <ul class="navbar-nav mr-lg-2">
                        <li class="nav-item nav-search d-none d-lg-block">
                            <div class="input-group">
                                <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                    <span class="input-group-text" id="search">
                                        <i class="icon-search"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control" id="navbar-search-input"
                                    placeholder="Search now" aria-label="search" aria-describedby="search">
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <a class="btn btn-inverse-success p-2" href="{% url 'manageProductsPage' %}">Manage Product</a>
                            </a>
                        </li>
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <h4 style="display: inline-block; font-weight: 900; justify-content: center;"
                                    class="mr-2">{{userdata.fullname}}</h4>
                                {% if userdata.profileImage %}
                                <img src="{{userdata.profileImage.url}}" alt="profile" />
                                {% else %}
                                <img src="{% static 'images/faces/avatar.jpeg' %}" alt="profile" />
                                {% endif %}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class="ti-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="{% url 'userLogout' %}">
                                    <i class="ti-power-off text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:{% static 'partials/_settings-panel.html -->
                <!-- partial -->
                <!-- partial:{% static 'partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        {% if user.userRole == 3 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'testerPanel' %}">
                                <i class="mdi mdi-atom menu-icon"></i>
                                <span class="menu-title">Tester Panel</span>
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">
                                <i class="mdi mdi-arrow-left-bold menu-icon"></i>
                                <span class="menu-title">Back to Store</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'settings' %}">
                                <i class="mdi mdi-atom menu-icon"></i>
                                <span class="menu-title">Profile Settings</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'manageProductsPage' %}">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Manage Product</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Account Settings</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Your Products</h4>
                                        <p class="card-description">Section to add Products</p>
                                        <form action="{% url 'addProducts' %}" method="post" class="forms-sample"
                                            enctype="multipart/form-data" id="addProForm">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Main
                                                            Category</label>
                                                        <div class="col-md-9 justify-content-center">
                                                            <select name="category" id="categorySelect"
                                                                class="form-control" onchange="loadCategory()">
                                                                <option value="" selected disabled>Select the Category
                                                                </option>
                                                            </select>
                                                            <div id="categoryError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 d-none" id="catDiv">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Category</label>
                                                        <div class="col-md-9 justify-content-center">
                                                            <select name="scategory" id="CatSel" class="form-control"
                                                                onchange="loadSubCategory()">
                                                                <option value="">Select Your Sub-Category</option>
                                                            </select>
                                                            <div id="CatSelErr"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 d-none" id="subDiv">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Sub Category</label>
                                                        <div class="col-md-9 justify-content-center">
                                                            <select name="subcategory" id="subCatSel"
                                                                class="form-control">
                                                                <option value="">Select Your Sub-Category</option>
                                                            </select>
                                                            <div id="subCatSelErr"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Product Name</label>
                                                        <div class="col-md-9 align-items-center">
                                                            <input type="text" class="form-control" name="pname"
                                                                id="pname">
                                                            <div id="pnameError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Expected
                                                            Price</label>
                                                        <div class="col-md-9 align-items-center">
                                                            <div class="form-group">
                                                                <div class="input-group" id="amountInputSet">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text"
                                                                            id="amountDisp">&#8377;0.00</span>
                                                                    </div>
                                                                    <input type="text" name="expPrice"
                                                                        class="form-control" id="amount"
                                                                        aria-label="Amount (to the nearest dollar)">
                                                                </div>
                                                                <div id="amountError"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6" id="stockDiv">
                                                    <div class="form-group row">
                                                        <label for="" class="col-md-3 col-form-label pr-0">Stock</label>
                                                        <div class="col-md-9">
                                                            <div class="btn-group" role="group" id="stockInputSet"
                                                                aria-label="Basic example">
                                                                <button type="button" class="btn btn-inverse-warning"
                                                                    id="minStockBtn">-</button>
                                                                <input type="text" class="btn btn-light"
                                                                    name="stockcount" id="stockCount" disabled
                                                                    value="0">
                                                                <input type="hidden" name="stockCount" id="stockHidden">
                                                                <button type="button" class="btn btn-inverse-info"
                                                                    id="maxStockBtn">+</button>
                                                            </div>
                                                            <div id="stockCountError" style="color: red;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Accident Remark (if
                                                            Any)</label>
                                                        <div class="col-md-9 align-items-center">
                                                            <textarea rows="4" class="form-control" name="accremark"
                                                                id=""></textarea>
                                                            <div id="pnameError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="" class="col-md-3 col-form-label pr-0">Description
                                                            On Product</label>
                                                        <div class="col-md-9 align-items-center">
                                                            <textarea name="description" id="description"
                                                                class="form-control"
                                                                placeholder="Description"></textarea>
                                                            <div id="descError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="" class="col-md-3 col-form-label pr-0">Date of
                                                            Manufacture</label>
                                                        <div class="col-md-9 align-items-center">
                                                            <input type="date" name="date" id="dateInput"
                                                                class="form-control" placeholder="Description"
                                                                onclick="setMaxDate()">
                                                            <div id="dateError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label for="" class="col-md-3 col-form-label pr-0">Product
                                                            Location</label>
                                                        <div class="col-md-9 align-items-center">
                                                            <select name="productLoca" id="productLocaSelect"
                                                                class="form-control">
                                                                <option value="">Select Product Location</option>
                                                            </select>
                                                            <div id="productLocaError"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Add Additional Addons and Details input field -->
                                            </div>
                                            <div class="row justify-content-center">
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <label class="col-md-3 col-form-label pr-0">Image upload</label>
                                                        <div class="col-md-9">
                                                            <input type="file" name="img[]" id="productImage"
                                                                class="file-upload-default" multiple>
                                                            <div class="input-group col-xs-12">
                                                                <input type="text" class="form-control file-upload-info"
                                                                    disabled="" placeholder="Upload Image">
                                                                <span class="input-group-append">
                                                                    <button class="file-upload-browse btn btn-primary"
                                                                        type="button">Upload</button>
                                                                </span>
                                                            </div>
                                                            <div id="productImageError"></div>
                                                            <p>Require Minimum 4 Photo's 4 Sides of Product</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group row">
                                                        <div id="imagePreview" class=""></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row justify-content-center">
                                                <button type="submit" class="btn btn-inverse-danger btn-lg">Add
                                                    Product</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">My Products</h4>
                                        <p class="card-description"><code>Red For Un-Listed</code>and Green For Listed
                                        </p>
                                        <div class="table-responsive pt-3">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            #
                                                        </th>
                                                        <th>
                                                            Category
                                                        </th>
                                                        <th>
                                                            Product
                                                        </th>
                                                        <th>
                                                            Price
                                                        </th>
                                                        <th>
                                                            Stock
                                                        </th>
                                                        <th>Approval</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if userprod %}
                                                    {% for product in userprod %}
                                                    {% if product.TesterId_id is None %}
                                                    <tr class="table-danger">
                                                        {% else %}
                                                    <tr class="table-success">
                                                        {% endif %}
                                                        <td>{{ product.id }}</td>
                                                        <td>{{ product.mainCategory.name }} >
                                                            {{ product.category.name }}
                                                            {% if product.subCategory.name %} >
                                                            {{ product.subCategory.name }}{% endif %}
                                                        </td>
                                                        <td>{{product.name}}</td>
                                                        <td>{{product.price}}</td>
                                                        <td>{{product.stock}}</td>
                                                        <td>
                                                            {% if product.TesterId %}
                                                            Approved
                                                            {% else %}
                                                            Not Approved
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                    <tr class="table-warning">
                                                        <td colspan="7" align="center">No Products To Approved Off</td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:{% static 'partials/_footer.html -->
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="{% static 'vendors/typeahead.js/typeahead.bundle.min.js' %}"></script>
        <script src="{% static 'vendors/select2/select2.min.js' %}"></script>
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
        <script src="{% static 'js/todolist.js' %}"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="{% static 'js/file-upload.js' %}"></script>
        <script src="{% static 'js/typeahead.js' %}"></script>
        <script src="{% static 'js/select2.js' %}"></script>
        <!-- End custom js for this page-->
        <!-- Custom JS Injection -->
        <!-- API -->
        <!-- <script src="{% static 'js/purpose build/CSC_API.js' %}"></script> -->
        <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

        <script src="{% static 'new app js/addProductsVar.js' %}"></script>
        <script src="{% static 'new app js/addProductValidation.js' %}"></script>
        <script src="{% static 'new app js/loadAllCategory.js' %}"></script>
        <!-- End of Inject -->
        <!-- Custom Purpose JS -->
        <!-- End of Custom Purpose JS -->
    </body>

</html>