{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Skydash Admin</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
    </head>

    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="card text-center" style="width: 500px;">
                                <div class="card-header h5 text-white bg-primary">Password Reset</div>
                                <div class="card-body px-5">
                                    <p class="card-text py-2">
                                        Please enter your new Password
                                    </p>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-outline">
                                            <input type="password" name="password" id="password" class="form-control my-3" placeholder="New Password"/>
                                            <div id="newPasswordError" class="p-0 mb-2"></div>
                                        </div>
                                        <div class="form-outline">
                                            <input type="password" name="cpassword" id="cpassword" class="form-control my-3" placeholder="Confirm New Password"/>
                                            <div id="ConfirmPasswordError" class="p-0 mb-2"></div>
                                        </div>
                                        <input type="submit" id="submitBtn" class="btn btn-primary w-100" value="Reset password" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
        <script src="{% static 'js/todolist.js' %}"></script>
        <script src="{% static 'js/purpose build/forgotPassword.js' %}"></script>
        <!-- endinject -->
        <script src="{% static 'js/purpose build/form_Variables.js' %}"></script>
        <script src="{% static 'js/purpose build/form_Functions.js' %}"></script>
        <script src="{% static 'js/purpose build/formCaller12.js' %}"></script>
    </body>

</html>