{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Skydash Admin</title>
        <!-- plugins:css -->
        <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
        <!-- endinject -->
        <!-- Plugin css for this page -->
        <!-- End plugin css for this page -->
        <!-- inject:css -->
        <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
        <!-- endinject -->
        <link rel="shortcut icon" href="{% static 'images/Custom Logo/i2.png' %}" />
    </head>

    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                <div class="content-wrapper d-flex align-items-center auth px-0">
                    <div class="row w-100 mx-0">
                        <div class="col-lg-4 mx-auto">
                            <div class="card text-center" style="width: 500px;">
                                <div class="card-header h5 text-white bg-primary">Password Reset</div>
                                <div class="card-body px-5">
                                    <p class="card-text py-2">
                                        Enter your email address and we'll send you an email with instructions to reset
                                        your password.
                                    </p>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-outline">
                                            <input type="email" name="emailid" id="typeEmail" class="form-control my-3 {% if not exists %} is-invalid {% endif %}" {% if not exists %} value="{{value}}" {% endif %} />
                                            {% if not exists %}
                                            <div id="email_error" class="invalid-feedback p-0 mb-2">Email is Not Registered</div>
                                            {% endif %}
                                            <label class="form-label" for="typeEmail">Email input</label>
                                        </div>
                                        <input type="submit" id="submitBtn" class="btn btn-primary w-100" value="Submit" />
                                    </form>
                                    <div class="d-flex justify-content-between mt-4">
                                        <a class="" href="#">Login</a>
                                        <a class="" href="#">Register</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <!-- End plugin js for this page -->
        <!-- inject:js -->
        <script src="{% static 'js/off-canvas.js' %}"></script>
        <script src="{% static 'js/hoverable-collapse.js' %}"></script>
        <script src="{% static 'js/template.js' %}"></script>
        <script src="{% static 'js/settings.js' %}"></script>
        <script src="{% static 'js/todolist.js' %}"></script>
        <script src="{% static 'js/purpose build/forgotPassword.js' %}"></script>
        <!-- endinject -->
    </body>

</html>