{% extends "../../base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Personal Details Add Section (Form-1) -->
    <div class="row">
        <div class="col-12 grid-margin stretch-card">
            {% if messages %}
            {% for message in messages %}
                <input type="hidden" id="alertbox" value="{{ message }}">
            {% endfor %}
            {% endif %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Your Settings</h4>
                    <p class="card-description">
                        User Settings Panel
                    </p>
                    <form class="forms-sample" id="settingForm1" action="{% url 'settingsForm1' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">First Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="fname" id="firstnameinput" class="form-control"
                                            placeholder="First Name" value="{{user.first_name}}">
                                        <div id="fnameErr" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Last Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="lname" id="lastnameinput" class="form-control"
                                            placeholder="Last Name" value="{{user.last_name}}">
                                        <div id="lnameErr" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="email" id="inputEmail" class="form-control"
                                            placeholder="Email" value="{{user.email}}">
                                        <div id="emailError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                        <select name="gender" id="genderSelect" class="form-control">
                                            <option value=" " selected disabled>Please Select Your
                                                Gender
                                            </option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                        <input type="hidden" id="selectedGender" value="{{user.gender}}">
                                        <div id="genderError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Username</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="username" id="usernameInput" class="form-control"
                                            placeholder="Email" value="{{user.username}}">
                                        <div id="usernameError" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="updateCuccu" class="btn btn-primary mr-2">Update</button>
                        <a class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const settingForm1 = document.getElementById('settingForm1');
            settingForm1.addEventListener("submit", function (event) {
                event.preventDefault();
                if (validateSettingsForm1()) {
                    settingForm1.submit();
                }
            })
        </script>
    </div>
    <!-- Add Address Section (Form-2) -->
    <div class="row">
        <div class="col-12 grid-margin stretch-card mb-1">
            <button id="addAddressBtn" class="btn btn-md btn-danger mb-1" style="padding-left: 15px;"><strong
                    style="font-weight: 900;">+</strong> Add Address</button>
            {% if request.user.userloca_set.all|length == 0 %}
            <p class="text-danger ml-3 d-flex justify-content-center align-items-center">You Haven't added any Address Till</p>
            {% endif %}
        </div>
    </div>
    <div class="row mb-0 d-none" id="addressEditDiv">
        <div class="col-12 grid-margin stretch-card mb-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Your Address</h4>
                    <p class="card-description">
                        User Settings Panel
                    </p>
                    <form class="forms-sample" id="settingForm2" action="{% url 'settingsForm2' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="userlocaId" id="userlocaId">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Country</label>
                                    <div class="col-sm-9">
                                        <select name="" id="countrySelect" class="form-control" onchange="loadStates()">
                                            <option value="" selected disabled>Select Your Country
                                            </option>
                                        </select>
                                        <input type="hidden" name="country" id="selectedCountryText"
                                            value="{{userloca.country}}">
                                        <div id="countryError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">State</label>
                                    <div class="col-sm-9">
                                        <select name="" id="stateSelect" class="form-control" onchange="loadCities()">
                                            <option value="" selected disabled>Select Your State
                                            </option>
                                        </select>
                                        <input type="hidden" name="state" id="selectedStateText"
                                            value="{{userloca.state}}">
                                        <div id="stateError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">City</label>
                                    <div class="col-sm-9">
                                        <select name="" id="citySelect" class="form-control">
                                            <option value="" selected disabled>Select Your City
                                            </option>
                                        </select>
                                        <input type="hidden" name="city" id="selectedCityText"
                                            value="{{userloca.city}}">
                                        <div id="cityError" class=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Street</label>
                                    <div class="col-sm-9">
                                        {% if userloca.street is None %}
                                        <input type="text" name="streetName" id="streetName" class="form-control"
                                            placeholder="Street Name/ Number">
                                        {% else %}
                                        <input type="text" name="streetName" id="streetName" class="form-control"
                                            placeholder="Street Name/ Number" value="{{userloca.street}}">
                                        {% endif %}
                                        <div id="streetError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Address</label>
                                    <div class="col-sm-9">
                                        {% if userloca.address is None %}
                                        <textarea name="address" id="addressInput" class="form-control" rows="4"
                                            placeholder="House Name/ Home Address/ Flat No: - Room No:/..."></textarea>
                                        {% else %}
                                        <textarea name="address" id="addressInput" class="form-control" rows="4"
                                            placeholder="House Name/ Home Address/ Flat No: - Room No:/...">{{userloca.address}}</textarea>
                                        {% endif %}
                                        <div id="addressError" class="invalid-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label mt-0 pt-0">Contact Number</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="phoneNumberInput" name="number" class="form-control"
                                            placeholder="Please Enter Your Contact Number"
                                            value="{{userdata.phoneNumber}}">
                                        <div id="phoneNumberError" class=""></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="updateCuccu" class="btn btn-primary mr-2">Update</button>
                        <a class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        <script>
            const settingForm2 = document.getElementById('settingForm2');
            settingForm2.addEventListener("submit", function (event) {
                event.preventDefault();
                if (validateSettingsForm2()) {
                    settingForm2.submit();
                }
            });
        </script>
    </div>
    <div class="row mt-1">
        <input type="hidden" id="totalCount" value="{{ request.user.userloca_set.all|length }}">
        {% for userloca in request.user.userloca_set.all %}
        <div class="col-md-6 grid-margin stretch-card mb-1">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mr-4" style="display: inline;">Address {{ forloop.counter }}</h4>
                    <button id="editBtn{{ forloop.counter }}" class="btn btn-sm btn-inverse-dark edit-btn">Edit</button>
                    <a href="{% url 'removeaddress' %}?id={{ userloca.id }}" id="editBtn{{ forloop.counter }}" class="btn btn-sm btn-inverse-danger edit-btn">Delete</a>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <input type="hidden" id="userloca{{ forloop.counter }}" value="{{ userloca.id }}">
                                <p class="font-weight-bold">{{ userloca.country }}</p>
                                <p>{{ userloca.state }}</p>
                                <p>{{ userloca.city }}</p>
                                <p>{{ userloca.street }} Street</p>
                            </address>
                        </div>
                        <div class="col-md-6">
                            <address class="text-primary">
                                <p class="font-weight-bold">
                                    Contact Number
                                </p>
                                <p class="mb-2">
                                    {{ userloca.contact_number }}
                                </p>
                                <p class="font-weight-bold">
                                    Address
                                </p>
                                <p>
                                    {{ userloca.address }}
                                </p>
                            </address>
                        </div>
                        <input type="hidden" id="country{{ forloop.counter }}" value="{{ userloca.country }}">
                        <input type="hidden" id="state{{ forloop.counter }}" value="{{ userloca.state }}">
                        <input type="hidden" id="city{{ forloop.counter }}" value="{{ userloca.city }}">
                        <input type="hidden" id="street{{ forloop.counter }}" value="{{ userloca.street }}">
                        <input type="hidden" id="address{{ forloop.counter }}" value="{{ userloca.address }}">
                        <input type="hidden" id="contact_number{{ forloop.counter }}" value="{{ userloca.contact_number }}">
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<!-- User Profile Image -->
    <div class="row mt-4">
        <div class="col-12 grid-margin stretch-card mt-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Update Your Profile Image</h4>
                    <p class="card-description">
                        User Profile Pic
                    </p>
                    <form class="forms-sample" id="profileForm" action="{% url 'settingsForm4' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="container" style="margin: 0; display: inline; margin-bottom: 20px;">
                            <div class="row">
                                <div class="col col-lg-2"
                                    style="display: flex; justify-content: center; overflow: hidden;">
                                    {% if not user.profilepic %}
                                    <img src="{% static 'images/faces/avatar.jpeg' %}" alt="No Image"
                                        style="width: 100px; height: 100px; border-radius: 50px; object-fit: cover;">
                                    {% else %}
                                    <img src="{{user.profilepic.url}}" alt=""
                                        style="width: 100px; height: 100px; border-radius: 50px;">
                                    {% endif %}
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>File upload</label>
                                        <input type="file" name="img" id="image" class="file-upload-default" accept="image/*">
                                        <div class="input-group col-xs-12">
                                            <input type="text" class="form-control file-upload-info"
                                                placeholder="Upload Your Image" disabled placeholder="Upload Image">
                                            <span class="input-group-append">
                                                <button class="file-upload-browse btn btn-inverse-success"
                                                    type="button">Upload</button>
                                            </span>
                                        </div>
                                        <div class="" id="imageError"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark mr-2 mt-4 ml-4">Update</button>
                        {% if user.profilepic %}
                        <a href="{% url 'removeProfilePic' %}" class="btn btn-warning mr-2 mt-4 ml-4">Remove Profile
                            Image</a>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Password Update -->
    <div class="row">
        <div class="col-6 grid-margin stretch-card text-center">
            <button type="button" class="btn btn-inverse-danger" data-toggle="modal" data-target="#myModal">Change Password</button>
        </div>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div class="modal-header p-0" style="display: flex; justify-content: center;">
                    <h4 class="modal-title">Update Your Password</h4>
                </div>
                <div class="modal-body p-0">
                    <div class="card">
                        <div class="card-body">
                            <!-- <h4 class="card-title">Update Your Password</h4> -->
                            <div class="row" id="oldPasswordDiv">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Current Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" name="password" id="password1" class="form-control"
                                                placeholder="Enter Your Current Password" autocomplete="off">
                                            <input type="hidden" id="currentPassword" value="{{userauth.password}}">
                                            <div id="currentPasswordError" class=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: none;" id="newPasswordDiv">
                                <div class="col">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">New Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" name="password" id="inputPassword1" class="form-control"
                                                placeholder="Enter Your Current Password" autocomplete="off">
                                            <div id="newPasswordError" class=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display: none;" id="newConfirmPasswordDiv">
                                <div class="col">
                                    <div class="form-group row mb-1">
                                        <label class="col-sm-4 col-form-label">Confirm Password</label>
                                        <div class="col-sm-8">
                                            <input type="password" name="password" id="inputPassword2" class="form-control"
                                                placeholder="Enter Your Current Password" value="" autocomplete="off">
                                            <div id="ConfirmPasswordError" class=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    id="cancelBtn">Cancel</button>
                                <button href="" class="btn btn-warning ml-4" id="nextBtn">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var alertbox = document.getElementById('alertbox');
    document.addEventListener("DOMContentLoaded", () => {
        if (alertbox.value){
            alert(alertbox.value);
        }
    });
</script>
{% endblock %}