{% load static %}
{% if request.user.UserRole == 1 or request.user.UserRole == 3 or request.user.UserRole == 4 %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row navbar-dark">
{% else %}
<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
{% endif %}
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}"
                class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="{% url 'home' %}"><img src="{% static 'images/logo-mini.svg' %}"
                alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        {% if userinindex %}
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <form action="{% url 'home' %}" method="post">
                    {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                        <span class="input-group-text" id="search">
                            <i class="icon-search"></i>
                        </span>
                    </div>
                    <input type="text" name="search_input" class="form-control" id="navbar-search-input" placeholder="Search now"
                        aria-label="search" aria-describedby="search" value="{{search}}">
                        <input type="submit" style="align-self: center; justify-self: center;" class="btn btn-sm btn-inverse-danger" value="Search">
                </div>
                </form>
            </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav navbar-nav-right">
            {% if request.user.is_authenticated %}
            {% if request.user.UserRole != 1 and request.user.UserRole != 3 and request.user.UserRole != 4 and not userinaddproduct and not atSuccessPage %}
            <li class="nav-item">
                <a href="{% url 'addproduct' %}" class="btn btn-sm btn-inverse-primary justify-content-center align-items-center">
                    <p style="display: inline;"><span style="font-weight: 900; font-size: 14px;">&#8377;</span> Sell Product</p>
                </a>
            </li>
            {% endif %}
            <li class="nav-item justify-content-center align-items-center mr-1 ml-1">
                {% if request.user.UserRole == 1 or request.user.UserRole == 3 or request.user.UserRole == 4 %}
                <h4 class="mb-0" style="font-weight: bolder; color: azure;">{{ user.first_name }} {{ user.last_name }}</h4>
                {% else %}
                <h4 class="text-dark mb-0" style="font-weight: bolder;">{{ user.first_name }} {{ user.last_name }}</h4>
                {% endif %}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="icon-bell mx-0"></i>
                    <span class="count"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                    aria-labelledby="notificationDropdown">
                    <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-success">
                                <i class="ti-info-alt mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-normal">Application Error</h6>
                            <p class="font-weight-light small-text mb-0 text-muted">
                                Just now
                            </p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-warning">
                                <i class="ti-settings mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-normal">Settings</h6>
                            <p class="font-weight-light small-text mb-0 text-muted">
                                Private message
                            </p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <div class="preview-icon bg-info">
                                <i class="ti-user mx-0"></i>
                            </div>
                        </div>
                        <div class="preview-item-content">
                            <h6 class="preview-subject font-weight-normal">New user registration</h6>
                            <p class="font-weight-light small-text mb-0 text-muted">
                                2 days ago
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    {% if user.profilepic %}
                    <img src="{{ user.profilepic.url }}" alt="profile" />
                    {% else %}
                    <img src="{% static 'images/faces/avatar.jpeg' %}" alt="profile" />
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    {% if user.UserRole == 2 %}
                    {% if not userinsettings and not userinaddproduct and not myorders %}
                    <a href="{% url 'myproducts' %}" class="dropdown-item">
                        <i class="mdi mdi-package-variant text-primary"></i>
                        My Products
                    </a>
                    <a class="dropdown-item" href="{% url 'myorders' %}">
                        <i class="mdi mdi-view-list text-success"></i>
                        My Orders
                    </a>
                    <a href="{% url 'productbidding' %}" class="dropdown-item">
                        <i class="mdi mdi-cash-multiple text-danger"></i>
                        Current Biddings
                    </a>
                    <a class="dropdown-item text-info">
                        <i class="mdi mdi-chart-bar text-info"></i>
                        My Sales
                    </a>
                    {% endif %}
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'userSettings' %}">
                        <i class="ti-settings text-primary"></i>
                        Profile Settings
                    </a>
                    <a href="{% url 'logout' %}" class="dropdown-item text-danger">
                        <i class="ti-power-off text-danger"></i>
                        Logout
                    </a>
                </div>
            </li>
            {% else %}
            <li class="nav-item ml-2">
                <a href="{% url 'deliveryman_signUp' %}" class="">Sign-Up as Delivery Man</a>
            </li>
            <li class="nav-item mr-0">
                <a href="{% url 'login' %}" class="btn btn-sm btn-inverse-primary mr-0">Sign-In</a>
            </li>
            <li class="nav-item ml-2">
                <a href="{% url 'register' %}" class="btn btn-sm btn-inverse-primary ml-0">Sign-Up</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>