{% extends "../../base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Tester</h4>
                    <p class="card-description">
                        Section To Add Quality Tester
                    </p>
                    <form class="forms-sample" id="testerForm" action="{% url 'addtester' %}"
                        method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">First Name</label>
                            <input type="text" class="form-control" id="firstnameinput" name="fname"
                                placeholder="First Name">
                            <div id="fnameErr" class=""></div>
                        </div>
                        <div class="form-group">
                            <label for="username">Last Name</label>
                            <input type="text" class="form-control" id="lastnameinput" name="lname"
                                placeholder="Last Name">
                            <div id="lnameErr" class=""></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" id="inputEmail" name="email"
                                placeholder="Email">
                            <div class="" id="emailError"></div>
                        </div>
                        <div class="form-group">
                            <label for="email">Country</label>
                            <select name="" id="countrySelect" class="form-control"></select>
                            <div class="" id="countryError"></div>
                            <input type="hidden" name="country" id="selectedCountryText">
                        </div>
                        <div class="form-group">
                            <label for="email">State</label>
                            <select name="" id="stateSelect" class="form-control">
                                <option value='' selected disabled>Please Select your State</option>
                            </select>
                            <div class="" id="stateError"></div>
                            <input type="hidden" name="state" id="selectedStateText">
                        </div>
                        <div class="form-group">
                            <label for="email">City</label>
                            <select name="" id="citySelect" class="form-control">
                                <option value='' selected disabled>Please Select your City</option>
                            </select>
                            <div id="cityError"></div>
                            <input type="hidden" name="city" id="selectedCityText">
                        </div>
                        <div class="form-group">
                            <label for="main_Category">Main Category</label>
                            <select name="mc" id="categorySelect" class="form-control"
                                onload="loadCategory()" onchange="loadSubCategory()">
                            </select>
                            <div id="categorySelectError"></div>
                        </div>
                        <div class="form-group" id="catDiv">
                            <label for="main_Category">Category</label>
                            <select name="c" id="scategorySelect" class="form-control">
                            </select>
                            <div id="scategorySelectError"></div>
                        </div>
                        <div class="form-group">
                            <label for="income">Tester Annual Income:</label>
                            <div class="input-group" id="incomegroup">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="text" class="form-control" name="income" id="income"
                                    placeholder="Annual Income">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                            <div id="incomeerror"></div>
                            <h5 class="mt-3 mr-1" style="display: inline-block;">Alloted Income:
                            </h5>
                            <h4 class="badge badge-success" style="display: inline-block;"
                                id="incomeOutput">0</h4><br>
                            <h5 class="mr-1" style="display: inline-block;">Income Per Month:</h5>
                            <h4 class="badge badge-success" style="display: inline-block;"
                                id="incomeperdayOutput">0</h4>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Send Link</button>
                        <a href="#" class="btn btn-light">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Tester's Table</h4>
                    <p class="card-description">
                        Status of<code>Tester's</code>
                    </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sl.No</th>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Category</th>
                                    <th>Employee <br> Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if testers %}
                                {% for tester in testers %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ tester.first_name }} {{ tester.last_name }}</td>
                                    <td>{{ tester.userloca_set.first.country }}, <br> {{ tester.userloca_set.first.state }}, <br> {{ tester.userloca_set.first.city }}</td>
                                    <td>{{ tester.testerdata.maincategory.name }} <br> {{ tester.testerdata.subcategory.name }}</td>
                                    <td>
                                        {% if tester.testerdata.registered_tester %}
                                        Activated
                                        {% else %} 
                                        Not Activated
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}