{% extends "../../base.html" %}
{% load static %}
{% block content %}
<!-- Admin Page Code Goes Here -->
<div class="content-wraper">
    <div class="row pl-4 pr-4 pt-4 pb-0">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Welcome {{ user.first_name }} {{ user.last_name }}</h3>
            <h6 class="font-weight-normal mb-0">All systems are running smoothly!</h6><br>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                            <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                            <div class=""></div>
                        </div>
                    </div>
                    <h4 class="card-title">Product's on <span id="titleOfPie">Category Chart</span></h4>
                    <button class="btn btn-sm btn-inverse-dark" onclick="btnClick(this)">Brand Wise Pie Chart</button>
                    <canvas id="pieChart" width="686" height="342" style="display: block; height: 274px; width: 549px;"
                        class="chartjs-render-monitor"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin transparent mb-0 pt-5">
            <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Total User's</p>
                            <p class="fs-30 mb-2">{{ usersCount }}</p>
                            <p>Total Set of Products: {{ products }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Total Order's</p>
                            <p class="fs-30 mb-2">{{ ordersCount }}</p>
                            <p>Net Amount <span id="orderworth" style="font-weight: bolder; font-size: larger;"> {{ ordersworth }}</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card card-light-blue">
                        <div class="card-body">
                            <p class="mb-4">Available Tester's</p>
                            <p class="fs-30 mb-2">{{ testersCount }}</p>
                            <p>{{ testerserv }} Testing done as of now</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                    <div class="card card-light-danger">
                        <div class="card-body">
                            <p class="mb-4">Available Delivery Boy's</p>
                            <p class="fs-30 mb-2">{{ deliverycount }}</p>
                            <p>Total {{ deliveryserv }} Delivery Done</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function formatINR() {
        const orderworth = document.getElementById('orderworth');
        amountStr = orderworth.textContent;
        let amount = amountStr.replace(/,/g, '');
        
        let num = parseFloat(amount);
        
        if (isNaN(num)) {
            console.error('Invalid input: ' + amountStr);
            return 'Invalid input';
        }
        
        let formattedAmount = num.toLocaleString('en-IN', { style: 'currency', currency: 'INR' });

        orderworth.textContent = formattedAmount;
    }

    document.addEventListener("DOMContentLoaded", () => {
        formatINR();
    })
</script>
{% endblock %}