{% extends "../../base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    {% if product %}
    <div class="card mt-0">
        <a href="{% url 'home' %}" class="btn btn-sm btn-inverse-dark" style="width: 100px;">< Back Home </a>
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">

                    <div class="preview-pic tab-content">
                        {% for i in product.productimages_set.all %}
                        <div class="tab-pane{% if forloop.first %} active{% endif %}"
                            id="pic-{{ forloop.counter }}">
                            <img src="{{ i.images.url }}" style="width: 650px; height: 350px;"/>
                        </div>
                        {% endfor %}
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        {% for i in product.productimages_set.all %}
                        <li{% if forloop.first %} class="active" {% endif %}>
                            <a data-target="#pic-{{ forloop.counter }}" data-toggle="tab">
                                <img src="{{i.images.url}}" />
                            </a>
                            </li>
                            {% endfor %}
                    </ul>

                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{product.brand.name}} {{ product.name }}</h3>
                    <p>Product Sold By: <strong>{{product.userauth.username}}</strong></p>
                    <p class="product-description">{{ product.description }}</p>
                    <p class="product-description">{{ product.maincat.name }} / {{ product.subcat.name }}</p>
                    <!-- <h4 class="price">current price: <span>&#x20B9;{{ product.baseprice|floatformat:"2" }}</span></h4> -->

                    <div class="action mb-3">
                        <!-- <a href="" class="btn btn-danger">Buy Now</a> -->
                        <button type="button" class="btn btn-inverse-success" data-toggle="modal" data-target="#exampleModalCenter">
                            {% if user_has_bid %}
                            New Bid
                            {% else %}
                            Bid Now
                            {% endif %}
                        </button>
                        <!-- <a href="" class="btn btn-inverse-success">Bid Now</a> -->
                        <a href="" class="btn btn-warning">Add to Cart</a>
                    </div>
                    <div class="">
                        {% if not user_has_bid %}
                    <li class="text-danger">No Bids by You</li>
                    {% else %}
                    <h4 class="text-success font-weight-bold">Bids by You</h4>
                    {% endif %}
                    <ul class="product-description" id="listitems">
                        {% for bid in product.biddingprice_set.all %}
                        {% if bid.userauth_id == user.email %}
                        <li style="font-weight: 900; font-family: sans-serif;">{{bid.bidding_price}}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-top" role="document">
        <div class="modal-content">
            <form action="{% url 'bidbyuser' product.id %}" method="post" onsubmit="inputToMoney()">
            {% csrf_token %}
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Bid For {{product.name}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div class="card p-0" style="width: 18rem;">
                    <img class="card-img-top" src="{{product.productimages_set.first.images.url}}" alt="Card image cap">
                    <div class="card-body">
                      <a href="{% url 'productinfoview' product.id %}" data-toggle="tooltip" title="Show More"><h5 class="card-title">{{product.name}}</h5></a>
                      <p class="text-dark">Rating By Tester:{{product.testerrating}}<i class="mdi mdi-star"></i></p>
                      <div class="input-group" id="inputgrp">
                        <input type="text" name="price" id="inputprice" oninput="inputToMoney()" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Bidding Amount">
                        <div class="input-group-append">
                          <!-- <span class="input-group-text">&#8377;</span> -->
                          <span class="input-group-text" id="displaymoney">0.00</span>
                        </div>
                      </div>
                      <div id="priceerror"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send Request</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    {% endif %}
</div>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const listItems = document.querySelectorAll('#listitems li');
        listItems.forEach(function (li) {
            li.textContent = formatMoney(parseFloat(li.textContent));
        });
    });

    var modal = document.getElementById('exampleModalCenter');
    modal.addEventListener('hide.bs.modal', function () {
        var inputField = document.getElementById('inputprice');
        inputField.value = '';
        var errorDiv = document.getElementById('priceerror');
        errorDiv.textContent = '';
    });

    function inputToMoney(){
        const moneyview = document.getElementById('displaymoney');
        const inputField = document.getElementById('inputprice');
        const inputgrp = document.getElementById('inputgrp');
        const inputvalue = inputField.value.trim();
        const errordiv = document.getElementById('priceerror');
        if(isNaN(inputvalue) || parseFloat(inputvalue) < 0 || inputvalue.length == 0){
            errordiv.classList.add('invalid-feedback');
            inputgrp.classList.add('is-invalid');
            errordiv.textContent = "Please enter a valid number.";
            event.preventDefault();
            return false;
        }else{
            errordiv.classList.remove('invalid-feedback');
            inputgrp.classList.remove('is-invalid');
            errordiv.textContent = "";  
            moneyview.textContent = formatMoney(inputvalue);
            return true;
        }
        event.preventDefault();
        return false;
    }

    function formatMoney(amount) {
        var formattedIncome = new Intl.NumberFormat('en-IN', {
            style: 'currency',
            currency: 'INR' // You can change the currency code as needed
        }).format(Number(amount));
        return formattedIncome;
    }
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}