{% extends "../../base.html" %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Checkout form</h2>
        </div>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4 rounded">
                <!-- <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted"></span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4> -->
                <ul class="list-group mb-3 sticky-top">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <img src="{{ product.productimages_set.first.images.url}}" alt=""
                                style="width: 100px; height: 100px; margin-bottom: 10px;">
                            <a href=""><h6 class="my-0">{{product.name}}</h6></a>
                            <small class="text-muted">Brief description</small>
                        </div>
                        <h4>Price: <span class="text-muted">&#x20B9;{{ bidprice.bidding_price|floatformat:"2" }}</span></h4>
                    </li>
                </ul>
            </div> 
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Billing address</h4>
                {% if not request.user.userloca_set.first %}
                <h5 class="mb-3" id="headeraddre">New Address</h5>
                {% else %}
                <h5 class="mb-3" id="headeraddre">Default Address</h5>
                {% endif %}
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{user.first_name}} {{ user.last_name }}</h5>
                                {% if not request.user.userloca_set.first.city %}
                                <p class="card-text text-danger" id="addressText">Please add Your Address to continue Shopping</p>
                                {% else %}
                                <p class="card-text" id="addressText">{{user.userloca_set.first.address}},
                                    {{user.userloca_set.first.street}},
                                    {{user.userloca_set.first.city}}, {{user.userloca_set.first.state}}, {{user.userloca_set.first.country}}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#addAddressModal">
                    Add Address
                </button>

                <button id="selectbtnadd" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#selAddressModal">
                    Select Another Address
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                    aria-labelledby="addAddressModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAddressModalLabel">Add New Address
                                </h5>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Your address form goes here -->
                                <form action="{% url 'add_address' product.id %}" method="POST">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <label for="address">Address:</label>
                                        <input type="text" class="form-control" id="address"
                                            name="address" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="street">Street:</label>
                                        <input type="text" class="form-control" id="street"
                                            name="street" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="country">Country:</label>
                                        <select id="countrySelect" class="form-control"
                                            onchange="loadStates()" required>
                                            <option value="" selected disabled>Select Your Country
                                            </option>
                                        </select>
                                        <input type="hidden" name="selectedCountry"
                                            id="selectedCountryText">
                                    </div>

                                    <div class="form-group">
                                        <label for="state">State:</label>
                                        <select id="stateSelect" class="form-control"
                                            onchange="loadCities()" required>
                                            <option value="" selected disabled>Select Your State
                                            </option>
                                        </select>
                                        <input type="hidden" name="selectedState"
                                            id="selectedStateText">
                                    </div>

                                    <div class="form-group">
                                        <label for="city">City:</label>
                                        <select id="citySelect" class="form-control" required>
                                            <option value="" selected disabled>Select Your City
                                            </option>
                                        </select>
                                        <input type="hidden" name="selectedCity"
                                            id="selectedCityText">
                                    </div>

                                    <div class="form-group">
                                        <label for="zip_code">Zip Code:</label>
                                        <input type="text" class="form-control" id="zip_code"
                                            name="zip_code" placeholder="Optional">
                                    </div>

                                    <button type="submit" class="btn btn-primary"
                                        onclick="loaddata()">Save Address</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="selAddressModal" tabindex="-1" role="dialog"
                    aria-labelledby="addAddressModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addAddressModalLabel">Select Another Address
                                </h5>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <select name="" class="form-control" id="modalSelection">
                                    <option value="" disabled selected>Please Select An Address</option>
                                    {% for i in request.user.userloca_set.all %}
                                    <option value="{{i.id}}"
                                        style="max-width: 200px; flex-wrap: wrap; word-wrap: break-word;">
                                        {{i.address}}, {{i.street}}, {{i.city}}, {{i.state}}, {{i.country}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    id="btnModal">Apply</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    id="cancelBtn">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    var addressText = document.getElementById('addressText');
                    var btnModal = document.getElementById('btnModal');
                    var modalSelection = document.getElementById('modalSelection');
                    var selectbtnadd = document.getElementById('selectbtnadd');
                    var razorpaybtn = document.getElementById('razorpaybtn');

                    if (addressText.textContent.includes("Please add Your Address to continue Shopping")) {
                        console.log("No Address");
                        selectbtnadd.classList.add('d-none');
                    }else{
                        console.log("Has Address");
                    }
                </script>

                <hr class="mb-4">
                <h4 class="mb-3">Payment</h4>
                <form action="{% url 'successpage' %}" method="POST" id="razorpaybtn">
                    {% csrf_token %}
                    <script src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_test_l4eDblehZr7MDi" data-amount="3999900" data-currency="INR"
                        data-order_id="{{ paymentid }}" data-buttontext="Pay with Razorpay"
                        data-name="Z Store"
                        data-description="A Wild Sheep Chase is the third novel by Japanese author Haruki Murakami"
                        data-image="https://example.com/your_logo.jpg" data-prefill.name="PC"
                        data-prefill.email="gaurav.kumar@example.com"
                        data-theme.color="#F37254"></script>
                    <!-- <input type="hidden" custom="Hidden Element" name="hidden" /> -->
                    <input type="hidden" id="userLocaHid" name="userlocaid" value="{{ user.userloca_set.first.id }}">
                    <input type="hidden" name="bidprice" value="{{bidprice.bidding_price}}">
                    <!-- <input type="hidden" name="paymentid" value="{{paymentid}}"> -->
                    <!-- <input type="hidden" name="userLocaSize" value="{{ user.userloca_set.first.id }}"> -->
                    <input type="hidden" name="productID" value="{{ product.id }}">
                    <input type="hidden" name="emailid" value="{{request.user.email}}">
                </form>
                <div class="col-sm-6">
                    <a href="{% url 'home' %}" class="btn btn-link text-muted">
                        <i class="mdi mdi-arrow-left me-1"></i> Back to Shopping </a>
                </div> <!-- end col -->
                <script>
                    btnModal.addEventListener('click', function () {
                        var data = modalSelection.options[modalSelection.selectedIndex];
                        addressText.textContent = data.textContent;
                        
                            // document.getElementById('headeraddre').textContent = "New Address";
                            // document.getElementById('userLocaHid').value = modalSelection.value;
                        
                            document.getElementById('headeraddre').textContent = "Default Address";
                            document.getElementById('userLocaHid').value = modalSelection.value;
                        
                        document.getElementById('cancelBtn').click();
                    });
                </script>
                <script>
                    function loaddata() {
                        var selectedOption = citySelect.options[citySelect.selectedIndex];
                        var selectedOptionText = selectedOption.textContent;
                        document.getElementById("selectedCityText").value = selectedOptionText;
                        console.log(document.getElementById("selectedCityText").value);
                        var selectedOption = stateSelect.options[stateSelect.selectedIndex];
                        var selectedOptionText = selectedOption.textContent;
                        document.getElementById("selectedStateText").value = selectedOptionText;
                        var selectedOption = countrySelect.options[countrySelect.selectedIndex];
                        var selectedOptionText = selectedOption.textContent;
                        document.getElementById("selectedCountryText").value = selectedOptionText;
                    }
                </script>
            </div>

        </div>
    </div>
</div>
{% endblock %}